{% extends 'panel/base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <span class="h4">{{ head_title }}</span>
                    <a href="{% url add_url %}" class="float-right" data-toggle="tooltip" title="Novo">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="card-block">
                    <table id="data_table" class="table table-striped table-bordered" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Opção</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Opção</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for instance in instances %}
                            <tr>
                                <td>{{ instance.id }}</td>
                                <td>{{ instance.name }}</td>
                                <td>
                                    <a href="{% url edit_url instance.id %}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Editar">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>
    <script>
        $(function () {

            $('[data-toggle="tooltip"]').tooltip();

            $('#data_table').DataTable({
                paging: false,
                searching: true,
                language: {
                    processing: "Processando...",
                    search: "",
                    searchPlaceholder: "Procurar",
                    lengthMenu: "_MENU_ resultados por página",
                    info: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    infoEmpty: "Mostrando 0 até 0 de 0 registros",
                    infoFiltered: "(Filtrados de _MAX_ registros)",
                    infoPostFix: "",
                    loadingRecords: "Carregando...",
                    zeroRecords: "Nenhum registro encontrado",
                    emptyTable: "Nenhum registro encontrado",
                    paginate: {
                        first: "Próximo",
                        previous: "Anterior",
                        next: "Próximo",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar colunas de forma ascendente",
                        sortDescending: ": Ordenar colunas de forma descendente"
                    }
                }
            });
            $('.dataTables_filter').addClass("text-right")
            $('.dataTables_filter input').addClass("form-control");
        });
    </script>
{% endblock %}