{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ head_title }} Vulnerabilidades — Instituto Federal de Sergipe</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/hotsite.css' %}">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    {% block custom_css %}{% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="http://www.ifs.edu.br">
        <img class="img-fluid" src="{% static 'img/logo.png' %}" width="250">
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'core:index' %}">Vulnerabilidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:catalog' %}">Catálogo de Software</a>
            </li>
        </ul>
    </div>
    <div class="col-md-1">
        {% if user.id %}
            {{ user.first_name }}
            <a href="{% url 'panel:logout' %}" data-toggle="tooltip" data-placement="bottom" title="Sair">
                <i class="fa fa-sign-out"></i>
            </a>
        {% else %}
            <a href="{% url 'panel:login' %}">Login</a>
        {% endif %}
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main-title">{{ title }}</h1>
            <div class="menu-content">
                <ul>
                    <li><a id="nav_all" href="{% url 'core:index' %}">Todos</a></li>
                    <li><a id="nav_provider" href="{% url 'core:providers' %}">Fornecedores</a></li>
                    <li><a id="nav_software" href="{% url 'core:products' %}">Produtos</a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

<footer>
    <div class="container">
        <a href="http://www.ifs.edu.br">IFS - Instituto Federal de Sergipe</a>.
        <span class="float-right"><a href="http://gloria.ifs.edu.br">CTI - Glória</a>
        </span>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

{% block custom_js %}{% endblock %}

</body>
</html>