{% extends 'hotsite/base.html' %}
{% load static %}
{% load filters %}

{% block custom_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                {{ vulnerabilities }}
                <div class="box-body">
                    <table id="informations" class="table table-striped table-bordered" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Produtos</th>
                            <th>Detectado</th>
                            <th>Gravidade</th>
                            {% if user.id and not user.is_superuser %}
                                <th>Corrigido</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Produtos</th>
                            <th>Detectado</th>
                            <th>Gravidade</th>
                            {% if user.id and not user.is_superuser %}
                                <th>Corrigido</th>
                            {% endif %}
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for instance in instances %}
                            <tr>
                                <td>{{ instance.id }}</td>
                                <td>
                                    <a href="{% url 'core:vulnerability' instance.id %}">
                                        {{ instance.name }}
                                    </a>
                                </td>
                                <td>
                                    {% for product in instance.products.all %}
                                        {{ product }},
                                    {% endfor %}
                                </td>
                                <td>{{ instance.detected_at|date:"d/m/Y" }}</td>
                                <td>{{ instance.severity }}</td>

                                {% if user.id and not user.is_superuser %}
                                    <td>
                                        {% if instance.whofixed %}
                                            <i class="fa fa-check text-success" data-toggle="tooltip"
                                               title="Correção aplicada!"></i>
                                        {% else %}
                                            <a href="#" data-toggle="modal" data-target="#confirmFix"
                                               id="{{ instance.id }}">
                                                <i class="fa fa-times text-danger" data-toggle="tooltip"
                                                   title="Aplicar correção"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <div class="row posts">
        {% for post in posts %}
            <div class="col-md-3">
                <div class="card">
                    <a href="{% url 'core:post' post.category.slug post.slug %}">
                        {% if post.thumbnail %}
                            <img class="card-img-top img-fluid" src="{{ post.thumbnail.url }}" alt="">
                        {% else %}
                            <img class="card-img-top img-fluid" src="http://via.placeholder.com/300x225" alt="">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <p class="card-text">{{ post.content|excerpt:50 }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ post.updated_at }}</small>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmFix" tabindex="-1" role="dialog" aria-labelledby="confirmFix"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar correção?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="vulnerability_id" name="vulnerability"/>
                        <button type="submit" class="btn btn-success">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>

    <script>
        $(function () {

            $('#informations').DataTable({
                paging: false,
                searching: true,
                order: [[3, "desc"]],
                language: {
                    processing: "Processando...",
                    search: "",
                    searchPlaceholder: "Procurar",
                    lengthMenu: "_MENU_ resultados por página",
                    info: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    infoEmpty: "Mostrando 0 até 0 de 0 registros",
                    infoFiltered: "(Filtrados de _MAX_ registros)",
                    infoPostFix: "",
                    loadingRecords: "Carregando...",
                    zeroRecords: "Nenhum registro encontrado",
                    emptyTable: "Nenhum registro encontrado",
                    paginate: {
                        first: "Próximo",
                        previous: "Anterior",
                        next: "Próximo",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar colunas de forma ascendente",
                        sortDescending: ": Ordenar colunas de forma descendente"
                    }
                }
            });
            $('#informations_filter input').addClass("form-control");
            $('#informations_filter input').addClass("mr-sm-2");
        });

        $('#informations a').click(function () {
            var vulnerability_id = $(this).attr('id');
            $('#vulnerability_id').val(vulnerability_id);
        });
    </script>
{% endblock %}